@page
@model Ccd.Bidding.Manager.Win.Help.Pages.Application.ReportsModel
@{
}

<h1>Reports</h1>
<p>
    The application is able to generate reports based on the data for the user to view. These reports are generated within similar methods and can be viewed in similar
    methods. This documentation will explain how to generate reports out of the system &amp; what reports are available. It will detail how to view the reports, and 
    where they are stored. 
</p>