@page
@model Ccd.Bidding.Manager.Win.Help.Pages.Reports.BidRequestMatrixReportModel
@{
}

<br />
<ul class="list-group">
    <a class="list-group-item list-group-item-action list-group-item-primary" asp-page="/Index">Back To Index</a>
</ul>