@page
@model Ccd.Bidding.Manager.Win.Help.Pages.Process.ItemsModel
@{
}
<h1>Item Maintenance Process</h1>
<p>
    The overall process of bidding is designed around "bids". These are in themselves containers of all the different processes that run through each bid. This
    documentation will help the user understand what a bid is &amp; what it contains.
</p>