@page
@model Ccd.Bidding.Manager.Win.Help.Pages.Application.ConfigurationModel



<h1>Application Configuration</h1>
<p>
    You are able to change settings on the application to best suit how you would like to work. All configuration settings are located under the Config button on the
    main Bid Maintenance screen.
</p>


<details>
    <summary>How do I change the default folder for export files?</summary>
    <div>
        <p>
            You are able to change where all export files generate to and default to when choosing to where to save said files. To do this go to the main Bid Maintenance
            screen, at the top right select the Config button. A window will show with configuration options:
        </p>

        <h6>Open the Configuration Window</h6>
        <img src="~/img/Application/config/configButton.png" class="img-thumbnail rounded mx-auto d-block border" alt="Config Button" />
        <p>
            Within the Bids Maintenance List Screen in the top right hand corner click the gear icon labeled "Config". This will open the configuration window.
        </p>

        <h6>Click Exports Folder Browse Button</h6>
        <img src="~/img/Application/config/exportsBrowseButton.png" class="img-thumbnail rounded mx-auto d-block border" alt="Image showing browse button next to the export box." />
        <p>
            Click the browse button next to the export box. You will be prompted with a window.
        </p>

        <h6>Select Exports Folder</h6>
        <img src="~/img/Application/config/selectFIlePath.png" class="img-thumbnail rounded mx-auto d-block border" alt="Image showing the selection of the folder you would like all exported files to generate to." />
        <p>
            Navigate to the folder you would like all exported files to automatically generate to.
        </p>

        <h6>Optional: Enable automatic saving.</h6>
        <img src="~/img/Application/config/supressFilePathSelection.png" class="img-fluid rounded mx-auto d-block border" alt="Supress File Path Selection Checkbox" />
        <p>
            Optionally, uncheck checkbox marked "Supress File Path Selections on Saving" in order to automatically generate reports without having to select a file path.
        </p>

        <h6>Save Changes</h6>
        <img src="/img/Application/config/saveChangesButton.png" class="img-fluid rounded mx-auto d-block border" alt="Save Changes Button" />
        <p>
            Click "Save Changes" button to save all changes.
        </p>
    </div>
</details>

<details>
    <summary>
        How do I change the default folder for generated reports?
    </summary>
    <div>
        <p>
            You are able to change where all reports generate to and default to when choosing to where to save said files. To do this go to the main Bid Maintenance screen,
            at the top right select the Config button. A window will show with configuration options:
        </p>

        <h6>Open the Configuration Window</h6>
        <img src="~/img/Application/config/configButton.png" class="img-fluid rounded mx-auto d-block border" alt="Config Button" />
        <p>
            Within the Bids Maintenance List Screen in the top right hand corner click the gear icon labeled "Config". This will open the configuration window.
        </p>

        <h6>Click Reports Folder Browse Button</h6>
        <img src="~/img/Application/config/reportsBrowseButton.png" class="img-fluid rounded mx-auto d-block border" alt="Image showing browse button next to the reports box." />
        <p>
            Click the browse button next to the reports box. You will be prompted with a window.
        </p>

        <h6>Select Reports Folder</h6>
        <img src="~/img/Application/config/selectFIlePath.png" class="img-fluid rounded mx-auto d-block border" alt="Image showing the selection of the folder you would like all generated reports to generate to." />
        <p>
            Navigate to the folder you would like all generated reports to automatically generate to.
        </p>

        <h6>Optional: Enable automatic saving.</h6>
        <img src="~/img/Application/config/supressFilePathSelection.png" class="img-fluid rounded mx-auto d-block border" alt="Supress File Path Selection Checkbox" />
        <p>
            Optionally, uncheck checkbox marked "Supress File Path Selections on Saving" in order to automatically generate reports without having to select a file path.
        </p>

        <h6>Save Changes</h6>
        <img src="/img/Application/config/saveChangesButton.png" class="img-fluid rounded mx-auto d-block border" alt="Save Changes Button" />
        <p>
            Click "Save Changes" button to save all changes.
        </p>
    </div>
</details>

<details>
    <summary>
        How do I automatically save all reports & exports into their respective folders?
    </summary>
    <div>
        <p>
            You are able to have the system automatically export to the set report & export folders (see How do I change the default folder for export or
            report files?) On saving reports or exports, instead of showing a window to choose the location it will simply default to the set folders and
            open the file as normal.
        </p>

        <h6>Open the Configuration Window</h6>
        <img src="~/img/Application/config/configButton.png" class="img-fluid rounded mx-auto d-block border" alt="Config Button" />
        <p>
            Within the Bids Maintenance List Screen in the top right hand corner click the gear icon labeled "Config". This will open the configuration window.
        </p>
        <h6>Enable automatic saving.</h6>
        <img src="~/img/Application/config/supressFilePathSelection.png" class="img-fluid rounded mx-auto d-block border" alt="Supress File Path Selection Checkbox" />
        <p>
            Uncheck checkbox marked "Supress File Path Selections on Saving" in order to automatically generate reports without having to select a file path.
        </p>
        <h6>Save Changes</h6>
        <img src="/img/Application/config/saveChangesButton.png" class="img-fluid rounded mx-auto d-block border" alt="Save Changes Button" />
        <p>
            Click "Save Changes" button to save all changes.
        </p>
    </div>
</details>

<details>
    <summary>
        How do I not have it open export files automatically?
    </summary>
    <div>
        <p>
            You are able to disable the automatic opening of all exported files. To do this go to the main Bid Maintenance screen, at the top right select the
            Config button. A window will show with configuration options:
        </p>

        <h6>Open the Configuration Window</h6>
        <img src="~/img/Application/config/configButton.png" class="img-fluid rounded mx-auto d-block border" alt="Config Button" />
        <p>
            Within the Bids Maintenance List Screen in the top right hand corner click the gear icon labeled "Config". This will open the configuration window.
        </p>
        <h6>Uncheck Open All Exports Checkbox</h6>
        <img src="~/img/Application/config/autoOpenExports.png" class="img-fluid rounded mx-auto d-block border" alt="Image showing" />
        <p>
            Uncheck the option marked "Automatically Open All Export Files"
        </p>
        <h6>Save Changes</h6>
        <img src="/img/Application/config/saveChangesButton.png" class="img-fluid rounded mx-auto d-block border" alt="Save Changes Button" />
        <p>
            Click "Save Changes" button to save all changes.
        </p>
    </div>
</details>

<details>
    <summary>
        How do I not have it open reports automatically?
    </summary>
    <div>
        <p>
            You are able to disable the automatic opening of all reports. To do this go to the main Bid Maintenance screen, at the top right
            select the Config button. A window will show with configuration options:
        </p>

        <h6>Open the Configuration Window</h6>
        <img src="~/img/Application/config/configButton.png" class="img-fluid rounded mx-auto d-block border" alt="Config Button" />
        <p>
            Within the Bids Maintenance List Screen in the top right hand corner click the gear icon labeled "Config". This will open the configuration window.
        </p>
        <h6>Uncheck Open All Reports Checkbox</h6>
        <img src="~/img/Application/config/autoOpenReports.png" class="img-fluid rounded mx-auto d-block border" alt="Image showing " />
        <p>
            Uncheck the option marked "Automatically Open All Generated Reports"
        </p>
        <h6>Save Changes</h6>
        <img src="/img/Application/config/saveChangesButton.png" class="img-fluid rounded mx-auto d-block border" alt="Save Changes Button" />
        <p>
            Click "Save Changes" button to save all changes.
        </p>
    </div>
</details>

<details>
    <summary>
        How do I gain access to deleting bids?
    </summary>
    <div>
        <p>
            All users are able to delete bids, however the feature is only enabled if the user explicitly changes a configuration setting, selects a bid for deleting, and accepts a prompt.
        </p>

        <h6>Open the Configuration Window</h6>
        <img src="~/img/Application/config/configButton.png" class="img-fluid rounded mx-auto d-block border" alt="Config Button" />
        <p>
            Within the Bids Maintenance List Screen in the top right hand corner click the gear icon labeled "Config". This will open the configuration window.
        </p>

        <h6>Check Allow Bid Deletions</h6>
        <img />
        <p>Uncheck the option labeled "Allow Bid Deletions"</p>

        <h6>Save Changes</h6>
        <img src="/img/Application/config/saveChangesButton.png" class="img-fluid rounded mx-auto d-block border" alt="Save Changes Button" />
        <p>
            Click "Save Changes" button to save all changes.
        </p>

        <p><big>Note that this will automatically be disabled after selecting to delete a bid.</big></p>
    </div>
</details>
