article {
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

h4 {
    font-size: 1.2rem;
}

header {
    margin-bottom: 0.5rem;
}

article > section {
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid #4e4e4e;
    padding: 1rem;
    border-radius: 0.25rem;
}

    article > section > section {
        margin-left: 2rem;
        padding: 1rem;
        border: 1px solid #e5e5e5;
        border-radius: 0.25rem;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
    }

details {
    margin-bottom: .5rem !important;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

    details > summary {
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0,0,0,.03);
        list-style: none;
    }

    details > p, details > div {
        padding: 1.25rem;
        margin-bottom: 0;
        border-top: 1px solid rgba(0,0,0,.125);
    }

        details > div > ul {
            margin-bottom: 0;
        }
