<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CCD Bid Manager Help</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet"
          href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css" />
    <!-- add after bootstrap.min.js -->
    <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/index.css" />
    <!--<link rel="stylesheet" href="~/css/alt.css" />-->
</head>
<body>
    <header class="d-print-none">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
            <a class="navbar-brand font-weight-bold" asp-area="" asp-page="/Index">CCD Bid Manager Help</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-page="/Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Ccd.Bidding.Manager.Win/Ccd.Bidding.Manager.Win.application">Install Application</a>
                    </li>
                </ul>
            </div>

        </nav>
    </header>
    <div class="container col-print-12">
        <div class="row">


            <div class="col-sm-9 col-print-12">
                <main role="main" class="pb-3">
                    @if (ViewData["Title"]?.ToString() != "Home page")
                    {
                        <ul class="list-group list-unstyled">
                            <li><a class="list-group-item list-group-item-action" asp-page="/Index">Back To Index</a></li>

                        </ul>
                        <br />
                    }
                    @RenderBody()
                    @if (ViewData["Title"]?.ToString() != "Home page")
                    {
                        <br />
                        <ul class="list-group list-unstyled">
                            <li><a class="list-group-item list-group-item-action" asp-page="/Index">Back To Index</a></li>
                        </ul>
                    }

                </main>
            </div>

            <div class="col-sm-3 d-print-none">

                <nav id="toc" class="sticky-top mt-3"><header>Table Of Contents</header></nav>
                <script>
                    $(function () {
                        var navSelector = "#toc";
                        var $myNav = $(navSelector);
                        Toc.init({
                            $nav: $myNav
                        }
                        );
                        $("body").scrollspy({
                            target: navSelector
                        });
                    });
                </script>
            </div>
        </div>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CCD Bid Manager Help - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
