@page
@model Ccd.Bidding.Manager.Win.Help.Pages.Screens.RequestsModel
@{
}

<h3>Available Actions</h3>
<p>
    Below are the available actions for this screen.
</p>
<ul>
    <li>Generate Blank Request to CSV</li>
    <li>Generate Blank Request to Excel</li>
    <li>Clear Selected Request's Requested Items</li>
    <li>Import Into Selected Request from CSV</li>
    <li>Import Into Selected Request from Excel</li>
    <li>Export Selected Request to CSV</li>
</ul>








