.category-row {
    border-bottom: 1pt solid;
    padding-top: 12pt;
    font-style: italic;
    font-size: 10pt;
    line-height: 11pt;
    padding-left: 1pt;
}

.itemCode {
    width: 42pt;
    padding-left: 0pt;
}

tr.responseRow {
    height: 7pt;
}

.extension {
    width: 55pt;
    text-align: right;
}

.unit {
    width: 53pt;
    padding-left: 12pt;
}

.vendorName {
    width: 147pt;
}

.quantity {
    text-align: right;
    width: 45pt;
}

.requestorName {
    width: 87pt;
}

.itemDescription {
    width: 260pt;
    padding-right: 18pt;
}