.category-row {
    border-bottom: 1pt solid;
    padding-top: 12pt;
    font-style: italic;
    font-size: 10pt;
    line-height: 11pt;
    padding-left: 1pt;
}

.itemCode {
    width: 42pt;
    padding-left: 0pt;
}

.itemDescription {
    width: 234pt;
    text-align: left;
}

.vendorName {
    width: 140pt;
    padding-left: 4pt;
}

.quantityResponded {
    width: 36pt;
    text-align: right;
}

.unit {
    width: 25pt;
    padding-left: 4pt;
}

.unitPrice {
    text-align: right;
    width: 46pt;
}

.extendedPrice {
    width: 64pt;
    text-align: right;
}

.alternate {
    width: 106pt;
    padding-left: 12pt;
}

.item-firstResponse-row {
    height: 7pt;
}

.noResponses {
    text-align: left;
    font-style: italic;
    visibility: hidden;
}

.spacerRow {
    height: 15pt;
}

.electedResponse {
    font-weight: bold;
}
tr.final-totals > th {
    text-align: right;
}

tr.responseRow {
    height: 7pt;
}

tr.noResponseRow, tr.noResponseRow > td {
    display: none;
}

td.bold.alt {
    font-weight: bold;
}
