@page
@model Ccd.Bidding.Manager.Win.Help.Pages.Process.BidsModel
@{
}
<h1>Bid Creation Process</h1>
<p>
    The overall process of bidding is designed around "bids". These are in themselves containers of all the different processes that run through each bid. This
    documentation will help the user understand what a bid is &amp; what it contains. This will help the user to create a bid &amp; begin the bidding process.
</p>

<div class="card">
    <h5 class="card-header">What is a Bid?</h5>
    <div class="card-body">
        <p>
            A bid is where all the processing for each yearly bid will happen. Each new year or new type of bid,
            there will be a new bid created & all processing will be done within that bid. All operations done within a bid will never affect another bid.
        </p>
    </div>
</div>
<br />

<div class="card">
    <h5 class="card-header">Elements of a Bid</h5>
    <div class="card-body">
        <p>
            A bid is made up of Items, Requests, Vendor Responses, Elections, &amp; Purchase Orders. All these elements are contained within each bid. They
            will never move from one bid to another, except in the case of Rolling bids or exporting/importing any of these elements.
        </p>
    </div>
</div>
<br />

<div class="card">
    <h5 class="card-header">Creating a Bid</h5>
    <div class="card-body">
        <p>
            A bid is simply added in the main screen of the application. See below for more specific details. This process
            only involves creating a name for the bid. No confirmations or other checks are needed at this stage within the process.
        </p>
        <p><a class="btn btn-primary" asp-page="/Screens/Bids">Bids Screen</a></p>
    </div>
</div>
<br />

<div class="card">
    <h5 class="card-header">Next Steps</h5>
    <div class="card-body">
        <p>
            After a bid is created, the next step is to do maintenance on the Items. See below for more specific details.
        </p>
        <p><a class="btn btn-primary" asp-page="/Screens/Items">Item Maintenance Process</a></p>
    </div>
</div>
<br />
